<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Rol - Formulario</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
<div th:replace="fragmentos :: header"></div>

<div class="container">
    
    <h1 th:text="${rol.id != null} ? 'Editar Rol' : 'Nuevo Rol'"></h1>

    <form th:action="@{/rol/guardar}" th:object="${rol}" method="post">

        <!-- Campo oculto para editar -->
        <input type="hidden" th:field="*{id}"/>

        <div>
            <label>Nombre:</label><br>
            <input type="text" th:field="*{nombre}" required maxlength="150"
                   style="width: 100%; padding: 8px; margin: 10px 0;">
        </div>

        <div>
            <label>Descripcion</label><br>
            <input type="text" th:field="*{descripcion}" required maxlength="150"
                   style="width: 100%; padding: 8px; margin: 10px 0;">
        </div>

        <div>
            <button type="submit" class="btn-module" style="background-color: #007bff;">Guardar</button>
            <a th:href="@{/usuario}" class="btn-module" style="background-color: gray;">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="fragmentos :: footer"></div>

</body>
</html>
